#contact iframe
{
    width: 100%;
}
.travel_div {
border:1px solid bisque

}
.travel_div h4 {
font-size: 60px !important; 
}
.movie_head {
    font-size:20px;
    padding:22px;
    border-radius: 10px;
    margin-bottom:15px;

}

.movie_head i {
    float:right;
}
.movietext span {
    color:turquoise;
}
